<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
        <section class="header">
                <h1>WISHLIST</h1>
               
                    <ul>
                        <li><a href="cadastro.html">Cadastrar</a></li>
                        <li><a href="login.html">Logar</a></li>
                    </ul>
               
            </section>
            <section class="campoLogar">
                <h2>Cadastro</h2>
                <form>
                    <div class="item">
                       <a>Nome :</a> <input>
                    </div>
                <div class="item">
                        <a>Email :</a><input  class="email">
                </div>
                    <div class="item">
                            <a>Senha :</a><input  class="senha">
                    </div>
                    <button class="btn2">CADASTRAR</button>
                </form>
            </section>
</body>
</html>