<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/cadastrodesejo.css">
    
    <title>Cadastre!</title>
</head>

<body>
    <section class="header">
        <h1>WishList</h1>
        <ul>
            <li><a href="">Meus desejos</a></li>
            <li><a href="">Todos os Desejos</a></li>
            <li><a href="">Sair</a></li>
        </ul>
    </section>
    <main>
        <div class="usuario">
            <h3>Nome do Usuário</h3>
        </div>
        <div class="cadastro">
            <h2>Cadastre seu desejo:</h2>
            <form action="">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <br>
                <button class="btn-add">Adicionar</button>
            </form>
        </div>
    </main>
</body>

</html>